extends ../layouts/common

block content
    h1 View User

    table.table
        tr 
            td Name:&nbsp;
                span= user.name 
        tr 
            td Phone: &nbsp;
                span= user.phone